header,
nav,
main {
  max-width: 960px;
  margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
.moveOver > .content {
  transform: translateX(0px);
}

#hamburgerButton {
  display: none;
}

nav {
  background-color: transparent;
  position: static;
  width: auto;
  transform: translateX(0);
  ul {
    display: flex;
    margin-left: $gutter;
  }

  ul li a {
    padding: 0.6rem 1.5rem;
    border: none;
  }
}

#navWrapper {
  background-color: #f7f7f7;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  section {
    display: grid;
    grid-template-areas:
      "photo name"
      "photo address"
      "photo phone";

    grid-template-columns: 250px auto;
    column-gap: 8px;

    a {
      margin: .5rem;
      padding: .5rem;
      font-size: 12px;
      width: 90%;
      height: 30px;
  min-width: 150px
    }

    img {
      border-radius: 8px 0 0 8px;
    }
  }
}
