/* NAVIGATION STUFF GOES HERE  */
#cards {
    section {
        display: grid;
        grid-template-areas: 
        "photo name"
        "photo address"
        "photo phone";

        grid-template-columns: 250px auto;
        column-gap: 8px;

        

        a {
            margin-bottom: .5rem;
            margin-top: .5rem;
        }

        img {
            border-radius: 8px 0 0 8px;
        }

    }
    section:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: scale(1.02);
        box-shadow: 0 0 7px 5px rgb(221, 221, 221);

    }
}