/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#hamburgerButton {
    width: 44px;
    height: 44px;
    margin: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #444;
    &::before {
        content: "\2630"
    }
}

nav {
    background-color: white;
    width: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li a {
        display: block;
        padding: .9rem .5rem;
        text-align: right;
        //border-bottom: 1px rgba(0,0,0,0.25) solid;
        text-decoration: none;
        font-weight: 400;
        color: $blackColor;
    }

    ul li a:hover {
        background-color: rgba(0,0,0,0.1);
        border-radius: 20px 0 0 20px;

        
    }

    li.active a {
        color: $primaryLight;
        background-color: $blackColor;
        border-radius: 20px 0 0 20px;
    }
}





.moveOver #hamburgerButton::before {
    content: "\2715";
}

.moveOver > .content {
    transform: translateX(-180px);
    transition: transform 500ms ease;
}

#pageWrapper {
    position: relative;
    overflow-x: hidden;
}




/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        margin: 2rem 0 0 1rem;
       // padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $blackColor;
        font-weight: 700;
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

#cards {
    width: 100%;
    section {
        display: grid;
        grid-template-areas: 
        "photo"
        "name"
        "address"
        "phone";

        margin: 2rem 1rem;
        box-shadow: 0 0 7px 2px rgb(221, 221, 221);
        border-radius: 8px;

        img {
            width: 100%;
            height: auto;
            grid-area: photo;
            border-radius: 8px 8px 0 0 ;
            }
        
            h2 {
                grid-area: name;
                padding-left: 1rem;
                margin: 1rem .2rem 0 0;
                color: $primaryColor;
                font-size: 1.2rem;
            }
        
            address {
                grid-area: address;
                padding-right: .2rem;
            }
        
            a {
                grid-area: phone;
                text-align: center;
                background-color: $blackColor;
                padding: .5rem 4rem;
                margin: 2rem auto;
                border-radius: 50px;
                color: white;
                text-decoration: none;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            address {
                padding-left: 1rem;
                
            }
    }
}



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $blackColor;
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $primaryLight;
    text-align: center;
    line-height: $leading;
    a {color: $primaryLight}
    font-weight: 500;
}// end footer