$primaryColor: #c66328; 
$primaryDark: #87431C;
$primaryLight: #DB814D;
$secondaryColor: #726E4E;
$accentColor: #B8C5D6;
$blackColor: #071E22;
$greyColor: #ccc;

$defaultFont:"Rubik", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;